* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;

}

.hidden {
    display: none !important;
}

.center {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

.vertical-center {
    display: flex;
    height: 100vw;
    flex-flow: column;
    align-items: stretch;
}

.caps {
    text-transform: uppercase;
}

/*--------------------------------------------------------------------------*/

/*WELCOME MODAL - MOBILE FIRST*/

/*--------------------------------------------------------------------------*/

#welcome {
    padding: 1em;
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    background-color: #1fa2ff;
    color: #485563;
    letter-spacing: 3px;
}

body {
    background-color: #485563;
}

#welcome h2 {
    color: gainsboro;
    letter-spacing: 1px;
}

ul {
    display: inline-block;
    text-align: left;
    color: gainsboro;
    margin: 2em 0;
    max-width: 500px;
}

.modal-btn {
    max-width: 600px;
    font-family: 'Roboto Slab', serif;
    padding: 1em;
    font-size: 1.25em;
    background-color: #485563;
    border: 1px solid #1fa2ff;
    color: gainsboro;
    /*    margin: auto;*/
}

/*--------------------------------------------------------------------------*/

/*STATS*/

/*--------------------------------------------------------------------------*/

#stats-container {
    font-family: 'Roboto Slab', serif;
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: baseline;
    color: gainsboro;
}

#restart-btn {
    padding: 0 1em;
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    background-color: #485563;
    border: 1px solid #1fa2ff;
    color: gainsboro;
}

/*--------------------------------------------------------------------------*/

/*CARDS*/

/*--------------------------------------------------------------------------*/

#main-game {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
    margin-bottom: 1.5em;
}

#card-deck {
    width: 100vw;
    align-items: center;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.flip {
    position: relative;
    flex-basis: 23%;
    height: 120px;
    margin: 2px;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: 1s;
    font-size: 2em;
    padding: 0;
    margin: 0;
}

.face {
    color: #29323c;
    border-radius: 10px;
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    z-index: 2;
}

.front {
    background: #485563;
    background: -moz-radial-gradient(center, ellipse cover, #485563 0%, #29323c 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #485563 0%, #29323c 100%);
    background: radial-gradient(ellipse at center, #485563 0%, #29323c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#485563', endColorstr='#29323c', GradientType=1);

    position: absolute;
    z-index: 1;
}

.back {
    background: #1fa2ff;
    background: -moz-linear-gradient(top, #1fa2ff 0%, #12d8fa 44%);
    background: -webkit-linear-gradient(top, #1fa2ff 0%, #12d8fa 44%);
    background: linear-gradient(to bottom, #1fa2ff 0%, #12d8fa 44%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fa2ff', endColorstr='#12d8fa', GradientType=0);

    transform: rotateY(-180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.flipped {
    transform: rotateY(-180deg);
}

.matched {
    pointer-events: none;
}

.open {
    pointer-events: none;
}

/*--------------------------------------------------------------------------*/

/*CONGRATULATIONS MODAL*/

/*--------------------------------------------------------------------------*/

#game-over {
    color: gainsboro;
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 100vw;
    justify-content: space-around;
    text-align: center;
    padding: 1em;
}

#game-over h2 {
    background-color: #1fa2ff;
    color: #485563;
    margin: 0;
    max-width: 100vw;
    padding: 1em;
}
